<% if(profiler.isEnabled){ %>
<div class="mt-5 py-5 shadow text-center alert alert-light alert-dismissible fade show" role="alert">
    <table class="table-bordered table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="2">PROFILER</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">METHOD</th>
                <td><%= profiler.data.method %></td>
            </tr>
            <tr>
                <th scope="row">ALERTS</th>
                <td><%= profiler.data.alerts %></td>
            </tr>
            <tr>
                <th scope="row">POST</th>
                <td><%= profiler.data.post %></td>
            </tr>
            <tr>
                <th scope="row">QUERY</th>
                <td><%= profiler.data.query %></td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
