<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="./../../assets/login.css" rel="stylesheet" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Login Page</title>
    </head>
    <body>
        <main class="container">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        <h3>Product Dashboard</h3>
                    </div>

                    <!-- Login Form -->
                    <form action="/validate_login" method="post">
                        <input type="text" class="fadeIn second" name="email" placeholder="Email" />
                        <input type="password" class="fadeIn third" name="password" placeholder="Password" />
                        <input type="submit" class="fadeIn fourth" value="Log In" />
                    </form>

                    <!-- Go to Register Page -->
                    <form id="formFooter" action="/register">
                        <p>No account yet?</p>
                        <button type="submit" class="fadeIn fourth btn-sm bg-light">Register</button>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
