<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="./../../assets/login.css" rel="stylesheet" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Register Page</title>
    </head>
    <body>
        <main class="container">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <!-- Tabs Titles -->

                    <!-- Icon -->
                    <div class="fadeIn first">
                        <h5>Registration</h5>
                    </div>

                    <!-- Login Form -->

                    <form method="post" action="/validate_register">
                        <input type="text" name="email" placeholder="Email" />
                        <input type="text" name="first_name" placeholder="First Name" />
                        <input type="text" name="last_name" placeholder="Last Name" />
                        <input type="password" name="password" placeholder="Password" />
                        <input type="password" name="c_password" placeholder="Confirm Password" />
                        <input type="submit" value="Register" />
                    </form>

                    <!-- Remind Password -->
                    <div id="formFooter">
                        <form method="get" action="/login">
                            <p>already have an account?</p>
                            <button type="submit" class="btn-sm bg-light">Back to Login Page</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
